@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';

body {
	line-height: 1.318;
	font-family: 'Ubuntu Mono';
}

.app {
	max-width: 700px;
	margin: 0 auto;
}

header, form {
	text-align: center;
}

.input-group {
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 1.5px;
}

h1 {
	font-size: 62px;
	line-height: 120px;
	margin: 0;
}

p {
	text-align: left;
}
